.educations-header {
  font-size: 40px;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
}

.education-card-logo {
  width: 100px;
}

.experience-card-logo {
  width: 70px;
  -webkit-box-shadow: 4px 3px 20px -2px grey;
  -moz-box-shadow: 4px 3px 20px -2px grey;
  box-shadow: 4px 3px 20px -2px grey;
  border-radius: 50px;
}

.experience-card-logo-div {
  margin: 10px;
  margin-top: -10px;
}

@media (max-width: 1380px) {
  .educations-header {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .educations-header {
    font-size: 30px;
  }
}
